<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Publisher</title>
</head>
<body>
    <form action="/PHP-LabTasks/SessionTasks/Task6/Controller/PublisherController/CreatePublisher.php" method="post">
        <input type="text" placeholder="ID" name="ID">
        <input type="text" placeholder="name" name="name">
        <input type="text" placeholder="phone" name="phone">
        <input type="text" placeholder="email" name="email">
<input type="submit" value="Create Publisher">
    </form>
</body>
</html>