<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Publisher Address</title>
</head>
<body>
    <form action="/PHP-LabTasks/SessionTasks/Task6/Controller/PublisherAddressController/CreatePublisherAddress.php" method="post">
<input type="text" placeholder="address_name" name="address_name">
<input type="text" placeholder="publisher_id" name="publisher_id">
<input type="submit" value="Create Publisher Address">
    </form>
</body>
</html>