<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Book</title>
</head>
<body>
    <form action="/PHP-LabTasks/SessionTasks/Task6/Controller/BookController/CreateBook.php" method="post">
<input type="text" placeholder="ID" name="ID">
<input type="text" placeholder="title" name="title">
<input type="text" placeholder="quantity" name="quantity">
<input type="text" placeholder="ISBN" name="ISBN">
<input type="text" placeholder="genre_id" name="genre_id">
<input type="text" placeholder="publisher_id" name="publisher_id">
<input type="text" placeholder="author_id" name="author_id">
<input type="submit" value="Create Book">
    </form>
</body>
</html>